<!DOCTYPE html>
<html>
<head>
  <title>About Us - MAKERS BnB</title>
  <link rel="stylesheet" type="text/css" href="/about_style.css">
</head>
<body>
  <div class="container">
    <div class="overlay"></div>
    <div class="content">
      <h1 class="heading">About Us</h1>
      <div class="content-container">
        <p class="description">MAKERS BnB is a revolutionary platform that connects travelers with unique accommodations around the world. Inspired by the success of AirBnB, we strive to provide exceptional experiences for our users.</p>
      </div>
      <div class="buttons">
        <a href="/" class="home-button">Back to Home</a>
      </div>
    </div>
  </div>
</body>
</html>
