<!DOCTYPE html>
<html>
<head>
  <title>MAKERS BnB</title>
  <link rel="stylesheet" type="text/css" href="/index_style.css">
</head>
<body>
  <div class="container">
    <div class="overlay"></div>
    <div class="content">
      <h1 class="heading">Welcome to Makers Bnb</h1>
      <p class="tagline">Find the Dream place in our heaven</p>
      <div class="buttons">
        <a href="/signup" class="signup-button">Sign Up</a>
        <a href="/login" class="login-button">Log In</a>
        <a href="/about" class="about-button">About Us</a>
      </div>
    </div>
  </div>
</body>
</html>
