/* feed_style.css */

/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-image: url("/images/image1.jpg"); /* Set the background image */
  background-repeat: no-repeat;
  background-size: cover;
  color: #333; /* Dark text color */
}

/* Main Styles */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Use min-height instead of height for responsiveness */
  background-color: transparent; /* Set the background color to transparent */
  color: #333;
}

.content {
  text-align: center;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
}

.heading {
  font-size: 36px;
  margin: 0;
}

.profile-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff; /* Blue button color */
  border: none;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: scale(1.05);
}

.logout-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff; /* Blue button color */
  border: none;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: scale(1.05);
}

.feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.space-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.space-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.space-card p {
  margin-bottom: 10px;
}

.book-button {
  display: inline-block;
  padding: 6px 12px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.book-button:hover {
  background-color: #45a049;
}

/* Additional styles specific to the feed page can be added below */
