body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin: 40px 0;
  color: #333;
}

p {
  text-align: center;
  color: #666;
}

ul {
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

li {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

strong {
  font-weight: bold;
}
