<!DOCTYPE html>
<html>
<head>
  <title>Booking Success</title>
</head>
<body>
  <h1>Your Booking Request is Sent!</h1>
  <p>Thank you for submitting your booking request. We have sent it to the owner of the space.</p>
  <p>Please wait for their response. Once they confirm your booking, you will receive further instructions.</p>
  <p>Your Booking ID: <%= booking_id %></p>
  <p>Click <a href="/space/<%= space_id %>/new_booking/<%= booking_id %>">here</a> to view your booking details.</p>
  <p>Thank you for using our service!</p>
</body>
</html>
