<!DOCTYPE html>
<html>
<head>
  <title>MAKERS BnB - New Space</title>
  <link rel="stylesheet" type="text/css" href="/new_space_style.css">
  <link rel="stylesheet" type="text/css" href="/back_button_style.css">
  <script>
    function validateDates() {
      var startDate = document.getElementById('start_date').value;
      var endDate = document.getElementById('end_date').value;

      if (startDate > endDate) {
        alert("End date cannot be before the start date. Please choose a valid date range.");
        return false;
      }

      return true;
    }
  </script>
</head>
<body>
  <div class="container">
    <div class="content">
      <div class="header">
        <h1 class="heading">Create a New Space</h1>
        <a href="/profile" class="back-button">Back to Profile</a>
      </div>
      <div class="new-space-box">
        <form action="/new_space" method="POST" onsubmit="return validateDates();">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>

          <label for="city">City:</label>
          <input type="text" id="city" name="city" required>

          <label for="description">Description:</label>
          <textarea id="description" name="description" required></textarea>

          <label for="price">Price:</label>
          <input type="number" id="price" name="price" step="0.01" min="0" required>

          <label for="start_date">Start Date:</label>
          <input type="date" id="start_date" name="start_date" required>

          <label for="end_date">End Date:</label>
          <input type="date" id="end_date" name="end_date" required>

          <input type="submit" value="Create Space" class="create-button">
        </form>
      </div>
    </div>
  </div>
</body>
</html>
