<!DOCTYPE html>
<html>
<head>
  <title>MAKERS BnB - My Profile</title>
  <link rel="stylesheet" type="text/css" href="/profile_style.css">
</head>
<body>
  <div class="container">
    <div class="content">
      <div class="header">
      <div class="heading-wrapper">
        <h1 class="heading">My Profile</h1>
      </div>
      <div class="buttons">
        <a href="/feed" class="feed-button">Global Feed</a>
        <a href="/profile/requests" class="requests-button">Requests</a>
        <a href="/logout" class="logout-button">Log Out</a>
      </div>
    </div>
      <div class="profile-box">
        <div class="profile-info">
          <h2 class="info-heading">Welcome, <%= @user.username %></h2>
          <p class="info-text">Email: <%= @user.email %></p>
        </div>
        <div class="boxes">
          <div class="spaces-box">
            <h2 class="box-heading">My Spaces</h2>
            <ul class="list">
              <% @spaces.each do |space| %>
                <li><a href="/space/<%= space.id %>"><%= space.name %></a></li>
              <% end %>
            </ul>
            <a href="/new_space" class="create-button">Create New</a>
          </div>
          <div class="bookings-box">
            <h2 class="box-heading">My Bookings</h2>
            <ul class="list">
              <li>No bookings yet</li>
            </ul>
            <a href="/feed" class="create-button">Create New</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
